body {
  background-color: #222;
  color: #aaa;
}

h3 {
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

hr {
  background-color: #d8d8d8;
}

a[href] {
  color: #1e8ad6;
}

a[href]:hover {
  color: #3ba0e6;
}

aside,
[class *="sidebar"],
[id *="sidebar"] {
  border: 1px solid lightgrey;
}
